body {
  background-color: var(--bg-body);
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8rem;
  color: white;
}
main > section {
  margin: 3.125rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
li:hover {
  background-color: var(--hover-color);
  border-radius: 1.25rem;
  color: black;
}
